<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>vue</title>
</head>
<body>
	<div id="contenedor">
		<h1>
			{{ name }}
		</h1>
		<p>
			{{ lastname }}
		</p>
		<form>
			<fieldset>
				<legend>Personal Data</legend>
				<input type="text" v-model="name" name="name">
				<input type="text" v-model="lastname" name="lastname">
				<button @click="saludar">Salu2</button>
			</fieldset>
			<fieldset>
				<legend>Personal Data</legend>
				<input type="text" v-model="num1" name="num1">
				<input type="text" v-model="num2" name="num2">
				<p> {{ suma }}</p>
				<button @click="operacion">sumar</button>
			</fieldset>
		</form>
	</div>
	<script src="https://unpkg.com/vue@3"></script>
	<script type="text/javascript">
		const { createApp} = Vue

		const app = createApp({
			data(){
				return{
					name:'Osmar',
					lastname:'Lucero',
					num1:null,
					num2:null,
					suma:null
				}
			},
			methods:{
				saludar(){
					alert("hola: "+this.name)
				},
				operacion(){
					suma:parseInt(this.num1)+parseInt(this.num2);
				}
			}
		}).mount('#contenedor');
	</script>
</body>
</html>